@page "/applicationState"

@rendermode InteractiveServer


<h3>Application State</h3>
<hr/>

<ApplicationStateCounter />

<br/>
<hr />
<p>This is an example of state being set in an in memory 'application state' class ready to be used in other components.</p>
<p>Go back to the home page to see the value being read back.</p>
