@page "/dataFetch"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Data Fetch</h3>
<hr />

<YogaClassTypes />
<br />
<hr />
<p>This is an example of a data fetch using a service.</p>
<p>The YogaClassTypes component retrieves a list of yoga class types from a service and displays them in a list.</p>
<p>Clicking the button displays the classes for the selected type.</p>
