@page "/eventCallback"

<h3>Event Callback</h3>
<hr/>

<Parent></Parent>
<br />
<hr />
<p>This is an example of a child class handling a click event and also exposing the event for the parent to handle via a delegate.</p>
