@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor examples for your reference</h1>

<p>Use the links on the left to view the examples running.</p>
<p>Check out the code to see how it works.</p>

<hr/>
<br/>
<ApplicationStateCounterReader />
<p>See the 'Application State' link for updating this value.</p>