
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/virtualize"

<h3>Virtualize</h3>
<hr />
<YogaClasses />
<br />
<hr />
<p>This is an example of a large data set being loaded by the virtualize component.</p>
